/* Container styling */
.account-form-container {
  max-width: 600px; /* Limite la largeur du formulaire pour une meilleure lisibilité */
  margin: 0 auto; /* Centre le formulaire horizontalement */
  padding: 20px; /* Ajoute du padding pour l'espacement intérieur */
  background-color: #fff; /* Fond blanc pour le formulaire */
  border-radius: 8px; /* Coins arrondis pour un look moderne */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre portée pour un effet de profondeur */
}

h2 {
  margin-bottom: 20px; /* Espace sous le titre */
  color: #333; /* Couleur sombre pour le titre */
  font-size: 24px; /* Taille du texte du titre */
  text-align: center; /* Centre le titre */
}

/* Form styling */
form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px; /* Espace entre les champs de formulaire */
}

label {
  display: block; /* Affiche les labels comme des blocs pour une meilleure disposition */
  margin-bottom: 5px; /* Espace sous le label */
  font-weight: bold; /* Gras pour les labels */
  color: #495057; /* Couleur sombre pour les labels */
}

select, input[type="number"], input[type="text"], input[type="datetime-local"] {
  width: 100%; /* Largeur complète pour les champs de formulaire */
  padding: 10px; /* Espacement intérieur pour les champs */
  border: 1px solid #ced4da; /* Bordure légère pour les champs */
  border-radius: 4px; /* Coins arrondis pour les champs */
  font-size: 16px; /* Taille de police des champs */
  box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
}

select:focus, input:focus {
  border-color: #ffc107; /* Bordure jaune au focus pour les champs */
  outline: none; /* Enlève l'outline par défaut */
}

/* Button styling */
button {
  background-color: #ffc107; /* Couleur de fond jaune pour le bouton */
  color: #fff; /* Couleur du texte du bouton */
  border: none; /* Enlève la bordure par défaut */
  padding: 10px 20px; /* Espacement intérieur du bouton */
  border-radius: 4px; /* Coins arrondis pour le bouton */
  font-size: 16px; /* Taille de police du bouton */
  cursor: pointer; /* Curseur de pointeur pour le bouton */
  transition: background-color 0.3s ease; /* Transition pour les effets au survol */
  align-self: center; /* Centre le bouton horizontalement */
}

button:hover {
  background-color: #e0a800; /* Couleur de fond jaune plus foncé au survol */
}

button:disabled {
  background-color: #f8f9fa; /* Couleur de fond du bouton désactivé */
  color: #6c757d; /* Couleur du texte du bouton désactivé */
  cursor: not-allowed; /* Curseur de non autorisé pour le bouton désactivé */
}
