
/* Main section styling */



.card {
  border: 1px solid #dee2e6; /* Bordure légère pour les cartes */
}

.table {
  margin-bottom: 0; /* Supprime la marge inférieure par défaut pour les tables */
}

.table th, .table td {
  text-align: center; /* Centrer le texte dans les cellules */
}

.btn {
  margin-right: 5px; /* Espace entre les boutons */
}

/* Vous pouvez également ajouter d'autres styles si nécessaire */
