<div class="beneficiary-form-container">
  <h2>Update Beneficiary</h2>
  <form [formGroup]="beneficiaryForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" type="text" formControlName="name" required>
    </div>
    <div class="form-group">
      <label for="rib">RIB</label>
      <input id="rib" type="text" formControlName="rib" required>
    </div>
    <div class="form-group">
      <label for="bank">Bank</label>
      <select id="bank" formControlName="bank" required>
        <option *ngFor="let bank of Object.values(bankEnum)" [value]="bank">{{ bank }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="sold">Balance</label>
      <input id="sold" type="number" formControlName="sold" required>
    </div>
    <button type="submit" [disabled]="beneficiaryForm.invalid">Update</button>
  </form>
</div>
