<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

    <a routerLink="/home" class="logo d-flex align-items-center me-auto me-lg-0">
      <h1 class="sitename">GP</h1>
      <span>.</span>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <!-- Other Links -->

        <li class="dropdown">
          <a href="#"><span>Sections</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            <li><a [routerLink]="['/home']" fragment="about" routerLinkActive="active">About</a></li>
            <li><a [routerLink]="['/home']" fragment="services" routerLinkActive="active">Services</a></li>
            <li><a [routerLink]="['/home']" fragment="portfolio" routerLinkActive="active">Portfolio</a></li>
            <li><a [routerLink]="['/home']" fragment="team" routerLinkActive="active">Team</a></li>
            <li><a [routerLink]="['/home']" fragment="contact" routerLinkActive="active">Contact</a></li>
          </ul>
        </li>

        <!-- Other Dropdowns -->
        <li class="dropdown">
          <a href="#"><span>Beneficiaries</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            <li><a routerLink="/beneficiaries" routerLinkActive="active">List Beneficiaries</a></li>
            <li><a routerLink="/benef" routerLinkActive="active">Add Beneficiary</a></li>
            <li><a routerLink="/updatebenef/:id" routerLinkActive="active">Update Beneficiary</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#"><span>Cards</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            <li><a routerLink="/cards" routerLinkActive="active">List Cards</a></li>
            <li><a routerLink="/addcard" routerLinkActive="active">Add Card</a></li>
            <li><a routerLink="/updatecard/:id" routerLinkActive="active">Update Card</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#"><span>Accounts</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            <li><a routerLink="/accounts" routerLinkActive="active">List Accounts</a></li>
            <li><a routerLink="/addAccount" routerLinkActive="active">Add Account</a></li>
            <li><a routerLink="/updateAccount/:id" routerLinkActive="active">Update Account</a></li>
            <li><a routerLink="/close/:id" routerLinkActive="active">Close Account</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#"><span>Transactions</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            <li><a routerLink="/transactions" routerLinkActive="active">List Transactions</a></li>
            <li><a routerLink="/createTransaction" routerLinkActive="active">Add Transaction</a></li>
          </ul>
        </li>

        <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
        <li><a routerLink="/signup" routerLinkActive="active">Sign Up</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    <a class="btn-getstarted" routerLink="/about">Get Started</a>

  </div>
</header>
